asgiref==3.7.2
async-timeout==4.0.3
click==8.1.7
Django==5.0
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-faker==0.2
django-messages==0.6.0
django-rq==2.10.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
fake-factory==9999.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytz==2023.3.post1
redis==5.0.1
rq==1.16.1
sqlparse==0.4.4
typing_extensions==4.9.0
