<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if article.title %}
    <title>{{article.title}}</title>
    {% else %}
        <title>{{title}}</title>
    {% endif %}

</head>
<body>
<ul>

    <li><a href="{% url 'articles:index' %}">Main page</a></li>
    <li><a href="{% url 'articles:about' %}">About site</a></li>
    <li><a href="{% url 'articles:create_article' %}">Add new article</a></li>
    <li><a href="{% url 'articles:feedback' %}">Feedback</a></li>
    <li><a href="{% url 'articles:login' %}">Login</a></li>

</ul>

{% block content%} {% endblock %}

</body>
</html>