{% extends 'shop/base.html' %}
{% block content%}
<h1> {{title}}</h1>

<ul>
    {% for cat in category %}
    <li>
        {% if not forloop.first %}
        <hr>
        {% endif %}
        <h2><a href="{% url 'shop:category' cat %}"> {{ cat }}</a></h2>
        {% for product in products %}
            {% if cat == product.category %}
            <h3><a href="{% url 'shop:product' product.id %}"> {{ product.product_name }} </a></h3>
            <p>{{ product.description|truncatewords:20 }}</p>
        {% endif %}

    </li>

    {% endfor %}
{% endfor %}
    <hr>
</ul>
{% endblock %}
