{% extends 'shop/base.html' %}

{% block title %}
{{ product.product_name }}
{% endblock %}

{% block content %}
<h1>Name: {{ product.product_name|title }}</h1>
<h3>Category: <a href="{% url 'shop:category' product.category %}">{{ product.category|title }}</a></h3>
<h3>Description:</h3>
<div class="centered-text">
    <h3>{{ product.description }}</h3>
</div>

{% if sale != 0%}
    <h4><s>Old price: {{ product.price }} rub.</s></h4>
    <h3>New price: {{ new_price }} rub.</h3>
    <h3>Your discount: {{ sale }}%</h3>
{% else %}
    <h3>Price: {{product.price}} rub.</h3>
{% endif %}

{% if user.is_authenticated %}
 <div>
     <form method="post" action="{% url 'shop:add_to_cart' product.id %}">
         {% csrf_token %}
         <button type="submit" class="btn btn-primary" data-placement="top" title="Click to add to your cart">To cart</button>
     </form>
 </div>
{% endif %}

{% if user.is_authenticated %}
    <form method="post" action="{% url 'shop:add_like' product.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success">Like: {{ likes }}</button>
    </form>
{% endif %}


{% for comment in comments %}
    <div>
        <p>{{ comment.text }}</p>
        <p>{{ comment.author.username }}, {{ comment.created_at }}</p>
    </div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить комментарий</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <h3><li>{{ message }}</li></h3>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}

