{% extends 'shop/base.html' %}

{% block title %}User profile{% endblock %}

{% block content %}
    <div class="container mt-4">
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        <h2 class="mb-4">User information</h2>

        <div class=" justify-content-end mt-4">
            <a href="{% url 'shop:update_profile' %}" class="btn btn-primary mt-4">Change profile</a>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Name:</strong> {{ user.first_name }}</li>
                    <li class="list-group-item"><strong>Surname:</strong> {{ user.last_name }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                </ul>
            </div>
        </div>
        <div class=" justify-content-end mt-4">
            <a href="{% url 'shop:order_history' %}" class="btn btn-warning mt-4">Все заказы</a>
        </div>
        <h3 class="mt-4">Last 5 orders</h3>
        <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Order №{{ order.id }} - status: {{ order.status }}</span>
                    <ul class="list-unstyled">
                        {% for entry in order.entries.all %}
                            <li>
                                <a href="{% url 'shop:product' entry.product.id %}"
                                   class="text-warning text-decoration-none">{{ entry.product.name }}</a>
                                <span class="ml-2 badge bg-primary"> Count: {{ entry.count }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <span class="">Total amount: {{ order.total_amount }} руб.</span>
                    <span class="badge bg-dark">Quantity of products: {{ order.total_quantity }}</span>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}